<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


<body>
    <%- include('./partials/nav.ejs') %>
    <br>
    <br>
    <hr>
    <div class="container-fluid">
        OOOPSSS PAGE NOT FOUND
    </div>
    <br>
    <br>
    <hr>
    <%- include('./partials/footer.ejs') %>


</body>

</html>