<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ex error, nihil cum possimus pariatur
                quod neque autem enim consectetur?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium commodi minima corrupti odio,
                provident impedit error reiciendis facilis. Cum, quae.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit hic error doloribus nisi praesentium
                dolore facilis magnam voluptates, ipsa impedit!</p>
        </h2>
    </div>

    <%- include('./partials/footer.ejs') %>


</body>

</html>